body {
    background-image: url(../img/Caballero2.png);
    background-size: 100%;
}

a{
  text-decoration: none;
}
form{
    margin-left: 20%;
    margin-top: 13%;
    color: rgb(182, 205, 50)
}
.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form {
    background-color: rgba(29, 31, 155, 0.699);
    width: 350px;
    height: 450px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    
  }
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .inputContainer {
    position: relative;
    height: 40px;
    width: 90%;
    margin-bottom: 17px;
    
  }
  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(84, 87, 236, 0.699);
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
    color: rgb(182, 205, 50);
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: rgb(20, 32, 199);
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgba(29, 31, 155);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
   
  }
  
  .submitBtn:hover {
    background-color: rgb(182, 205, 50);
    transform: translateY(-2px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(182, 205, 50)
  }
  .input:focus {
    border: 2px solid rgb(182, 205, 50)
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
  #atrasCrear {
    background-color: rgba(29, 31, 155);
    padding: 15px 30px;
    border-radius: 6px;
    color: white;
    margin-top: 7px;
  }
  
  #atrasCrear:hover {
    background-color: rgb(182, 205, 50);
    transform: translateY(-2px);
  }