<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=+, initial-scale=1.0">
    <title>Edita el vuelo</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <h1>Edita el vuelo</h1>
    <main class="flex-container">
        <div id="main" class="row">
            <!--MUY IMPORTANTE no debo expecificar el tipo de metodo en el from, debo hacerlo en el fetch
            PREGUNTA EL ACTION TMABIEN DEBO  DEJARLO VACIO imagino que si puesto que la url esta en el fetch -->
            <form action="" method="">
                <input name="numero_vuelo" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <input name="aerolinea" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <input name="origen" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <input name="destino" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <input name="fecha_salida" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <input name="fecha_llegada" class="form-control form-control-lg" type="text"
                    aria-label=".form-control-lg example">
                <button type="button" onclick="update()"="btn btn-secondary">Actualizar</button>
            </form>
            <a href="/vuelos/index" class="btn btn-secondary">Atras</a>
        </div>
    </main>
</body>

<script>

    let elementos_formulario = document.forms[0].elements;
    //Recojo el id
    let path = window.location.pathname.split("/");
    let id = path[path.length - 1];
    //con fetch recojo la información que necesito para rellenar los campos del input
    fetch(`/vuelos/get/${id}`)
        //señalo que la respuesta será tipo json
        .then((response) => response.json())
        //Denomino a la respuesta como el  objeto vuelo y lo relleno de datos que recojo del input
        .then((vuelo) => {
          //Coloco los valores por defecto del vuelo en el formulario
            elementos_formulario.numero_vuelo.value = vuelo[0].numero_vuelo;
            elementos_formulario.aerolinea.value = vuelo[0].aerolinea;
            elementos_formulario.origen.value = vuelo[0].origen;
            elementos_formulario.destino.value = vuelo[0].destino;
            elementos_formulario.fecha_salida.value = vuelo[0].fecha_salida;
            elementos_formulario.fecha_llegada.value = vuelo[0].fecha_llegada;
        });

    function update() {
        // Necesito los datos del jugador.
        // Ya tenemos los datos que estan en la variable elementos_formulario

        // Creo el objeto del jugador con los datos que tienen que ser actualizados
        let vuelo = {
            numero_vuelo: elementos_formulario.numero_vuelo.value,
            aerolinea: elementos_formulario.aerolinea.value,
            origen: elementos_formulario.origen.value,
            destino: elementos_formulario.destino.value,
            fecha_salida: elementos_formulario.fecha_salida.value,
            fecha_llegada: elementos_formulario.fecha_llegada.value
        };

        // Con este fetch  envio los datos que he recogido del formulario a la url de update donde tengo la query para realizar los cambios en la BD
        fetch(`/vuelos/update/${id}`, {
            //No puedo expecificar que tipo de operación hago en el form debo hacer lo aquí como ocurria con delete, en este caso put
            method: "PUT",
            //Defino en la cabecera el tipo de dato que voy a enviar, en este caso un json
            headers: {
                "Content-Type": "application/json"
            },
            //Debo especificar en el body que dato voy a enviar, en este caso un objeto de vuelo
            body: JSON.stringify(vuelo)
        })
            //expecifico que la respuesta sera json
            .then((response) => response.json())
            //denomino a la respuesta como respuesta
            .then((respuesta) => {
                // codigo para ejecutar la redirección a index. Siempre que el valor de la propiedad estado sea true redirecciono a index
                if (respuesta.estado == true) {

                    window.location.href = "/vuelos/index";
                } else {
                    //code
                }
            })
            ;
    }

</script>

</html>